.movil__btn{
  border: 1px $mainBlue solid;
  border-bottom: 1px $mainBlue solid !important;
  padding: 15px;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  &:hover{
    background: $mainBlue;
  }

}

.escritorio__btn{
  border: 1px $mainBlue solid;
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  &:hover{
    background: $mainBlue;
  }

}

.boton__ver{
  display: block;
  border: 2px solid $mainRed;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 120px;
  border-radius: 5px;
  margin: auto;
  color: $BlackL;
  cursor: pointer;
  a{
    text-decoration: none;
    color: $BlackL;
  }
  body.dark &{
    color:$whiteL;
    transition: all 0.5s;
    a{
      text-decoration: none;
      color: $whiteL;
    }
    &:hover{
      background: $mainRed;
    }
  }
}

.boton__submit{
  display: block;
  margin: auto;
  width: 100px;
  border: solid 2px $mainRed;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  body.dark &{
    background: none;
    color:$whiteL;
    transition: all 0.5s;
    &:hover{
      background: $mainRed;
    }
  }

}
