.movil__btn{
  border: 1px $mainBlue solid;
  border-bottom: 1px $mainBlue solid !important;
  padding: 15px;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  &:hover{
    background: $mainBlue;
  }

}

.escritorio__btn{
  border: 1px $mainBlue solid;
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  &:hover{
    background: $mainBlue;
  }

}

.boton__ver{
  display: block;
  border: 2px solid $mainRed;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 80px;
  border-radius: 5px;
  margin: auto;
  color: $BlackL;
  body.dark &{
    color:$whiteL;
    transition: all 1s;
    &:hover{
      background: $mainRed;
    }
  }


}
