/*=================================================
Responsivo
=================================================*/
$md: 768px;
$xl: 1024px;

/*=================================================
Fuentes
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap');
$fredo: 'Fredoka One', cursive;
$roboto: 'Roboto', sans-serif;

/*=================================================
Colores
=================================================*/
$negro: #000000;
$blanco: #ffffff;
$rojo: #ef233c;
$azul: #2b2d42;
$azul-raro: #383a55;
$aqua: #40798c;
$azul-claro: #63adf2;
$morado: #8447ff;
$magenta: #8f3985;
$limon: #e4ff1a;
$gris: #edf2f4;
$naranja: #f79824;
$limon-claro: #f7e733;
$amarillo: #fec108;

$fondo: $azul;
