@import 'variables.scss';
@import 'mixin.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $roboto;
  background: $fondo;
}

/*=================================================
Nav Movil
=================================================*/
.movil {
  @include desktop {
    display: none;
  }
  width: 100%;
  padding: 10px;
  font-family: $fredo;

  a {
    text-decoration: none;
    color: $gris;
  }
  // Logo
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .menu {
      font-size: 25px;
      color: $gris;
      cursor: pointer;
    }
    a {
      display: flex;
      align-items: center;
      img {
        height: 50px;
        margin-right: 15px;
      }
      span {
        font-size: 20px;
      }
    }
  }
  // Contenedor
  .contenedor-item {
    display: none;
    width: 100%;
    a {
      padding: 10px;
      border-bottom: 1px solid $gris;
      display: block;
    }
    a:nth-child(5) {
      border: none;
    }
    .btn-saga {
      background: $azul-claro;
      border-radius: 3px;
      border: none;
      width: 120px;
      text-align: center;
      &:hover {
        background: darken($azul-claro, 5);
      }
    }
  }
}

/*=================================================
Nav PC
=================================================*/
.pc {
  display: none;
  @include desktop {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    font-family: $fredo;
    a {
      text-decoration: none;
      color: $gris;
      &:hover {
        color: $limon;
      }
    }
    // Logo
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .menu {
        font-size: 25px;
        color: $gris;
        cursor: pointer;
      }
      a {
        display: flex;
        align-items: center;
        img {
          height: 50px;
          margin-right: 15px;
        }
        span {
          font-size: 20px;
        }
      }
    }
    .contenedor-item {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      .btn-saga {
        background: $azul-claro;
        border-radius: 3px;
        border: none;
        width: 120px;
        text-align: center;
        padding: 10px;
        &:hover {
          background: darken($azul-claro, 5);
        }
      }
    }
  }
}

/*=================================================
Carrusel
=================================================*/
.carrusel {
  .owl-nav {
    margin-top: 0;
  }
  .item {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    @include desktop {
      height: 500px;
      width: 1200px;
      margin: auto;
    }
  }
  .img1 {
    background-image: url('../img/carrusel/1.jpg');
  }
  .img2 {
    background-image: url('../img/carrusel/2.jpg');
  }
  .img3 {
    background-image: url('../img/carrusel/3.jpg');
  }
}
/*=================================================
Division
=================================================*/
.division {
  margin: auto;
  font-family: $fredo;
  text-align: center;
  border-bottom: 3px solid $limon;
  border-radius: 3px;
  width: 80%;
  color: $blanco;
  padding-bottom: 10px;
  @include desktop {
    font-size: 30px;
    width: 700px;
    border-bottom: 4px solid $limon;
    margin-top: 20px;
  }
}

.txt-suelto {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  color: $gris;
}

/*=================================================
Skill
=================================================*/
.skills {
  background: $azul-raro;
  padding: 10px;
  .interno {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      width: 1200px;
      grid-template-columns: repeat(4, 1fr);
    }
    margin: auto;
    .skill1,
    .skill2,
    .skill3,
    .skill4 {
      width: 280px;
      height: 220px;
      margin: auto;
      border-radius: 3px;
      text-align: center;
      color: $gris;
      @include desktop {
        margin-bottom: 5px;
      }
      span {
        font-weight: 700;
        font-size: 20px;
      }
      p {
        margin-top: 10px;
      }
      .imagen1,
      .imagen2,
      .imagen3,
      .imagen4 {
        text-align: center;
        padding-top: 20px;
      }
    }
    .skill1 {
      background: #3e688e;
      background-image: url('../img/responsivo_fondo.png');
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .skill2 {
      background: #4e2e8f;
      background-image: url('../img/linea_fondo.png');
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .skill3 {
      background: #652a5e;
      background-image: url('../img/diseno_fondo.png');
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .skill4 {
      background: #875415;
      background-image: url('../img/dispo_fondo.png');
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}

/*=================================================
Servicios destacados
=================================================*/
.destacados {
  a {
    text-decoration: none;
    color: $negro;
  }
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  font-family: $fredo;
  font-size: 20px;
  @include tablet {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
  }
  .destacados-item {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin: auto;
    img {
      height: 100px;
    }
    .destacados-txt {
      text-align: center;
    }
  }
}
.destacados-item:nth-child(1) {
  background: $naranja;
}
.destacados-item:nth-child(2) {
  background: $azul-claro;
}
.destacados-item:nth-child(3) {
  background: $amarillo;
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  @include desktop {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

footer {
  margin-top: 20px;
  background: $negro;
  .footer-dentro {
    padding: 20px;
    margin: auto;
    width: 100%;
    @include desktop {
      width: 1200px;
    }
    .logo {
      a {
        text-decoration: none;
        color: $gris;
        font-family: $fredo;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 80px;
      }
      span {
        margin-left: 10px;
      }
    }
    .footer-menu {
      margin-top: 20px;
      border-bottom: 1px solid $gris;
      padding-bottom: 10px;
      @include desktop {
        display: flex;
        justify-content: space-between;
      }
      a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        color: $gris;
      }
    }
    .footer-sociales {
      color: $gris;
      margin-top: 20px;
      text-align: center;
      @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .sociales {
        margin-top: 20px;
        @include desktop {
          margin-top: 0px;
        }
        a {
          text-decoration: none;
          text-align: center;
          padding: 20px;
          color: $gris;
          font-size: 25px;
          @include desktop {
            padding: 0px;
            margin: 0 20px;
          }
        }
      }
    }
  }
}

/*=================================================
Error 404 pagina
=================================================*/
.error {
  background-image: url('../img/404.jpg');
  background-position: center;
  background-size: cover;
  width: 95%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  color: $blanco;
  @include desktop {
    width: 1200px;
    margin-top: 20px;
    padding: 100px;
  }
  .numero,
  .txt {
    text-align: center;
    font-size: 50px;
    font-family: $fredo;
    @include desktop {
      font-size: 100px;
    }
  }
  .txt2 {
    text-align: center;
    margin-top: 20px;
    @include desktop {
      font-size: 25px;
    }
  }
  ul {
    margin-top: 20px;
    @include desktop {
      display: flex;
    }
    li {
      list-style: none;
      margin-top: 10px;
      text-align: center;
      width: 100px;
      margin: auto;
      padding: 10px;
      border-radius: 3px;
      margin-top: 15px;
      a {
        text-decoration: none;
        width: 100%;
        color: $blanco;
      }
    }
    li:nth-child(1) {
      background: $morado;
    }
    li:nth-child(2) {
      background: $aqua;
    }
    li:nth-child(3) {
      background: $naranja;
    }
    li:nth-child(4) {
      background: $amarillo;
    }
    li:nth-child(5) {
      background: $azul-claro;
    }
  }
}
