@import 'variables.scss';
@import 'mixin.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $roboto;
  background: $fondo;
}

/*=================================================
Nav Movil
=================================================*/
.movil {
  display: block;
  @include desktop {
    display: none;
  }
  width: 100%;
  padding: 10px;
  font-family: $fredo;

  a {
    text-decoration: none;
    color: $gris;
  }
  // Logo
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .menu {
      font-size: 25px;
      color: $gris;
      cursor: pointer;
    }
    a {
      display: flex;
      align-items: center;
      img {
        height: 50px;
        margin-right: 15px;
      }
      span {
        font-size: 20px;
      }
    }
  }
  // Contenedor
  .contenedor-item {
    display: none;
    width: 100%;
    a {
      padding: 10px;
      border-bottom: 1px solid $gris;
      display: block;
    }
    a:nth-child(4) {
      border: none;
    }
    .btn-saga {
      background: $azul-claro;
      border-radius: 3px;
      border: none;
      width: 120px;
      text-align: center;
      &:hover {
        background: darken($azul-claro, 5);
      }
    }
  }
}

/*=================================================
Nav PC
=================================================*/

/*=================================================
Carrusel
=================================================*/
.carrusel {
  background: pink;
}
