// * ===============================================
// * Font
// * ===============================================
$title: 'Fredoka One', cursive;
$text: 'Roboto', sans-serif;

// * ===============================================
// * Responsive
// * ===============================================
$md: 768px;
$xl: 1024px;

// * ===============================================
// * Colors
// * ===============================================
$mainBlue:     #2DBDEA;
$mainRed:      #F34E4A;
$mainYellow:   #FFC230;
$mainDarkBlue: #3679DC;
$whiteL:       #F4F4F4;
$BlackL:       #333333;
$white:        #ffffff;
$black:        #000000;
$bgDark:       #1B2430;
$lemon:        #F7E84B;
$orange:       #FA9934;
$purple:       #8642FA;
$violet:       #913883;

// * ===============================================
// * Variables Color
// * ===============================================
$fill: $whiteL;
