/*=================================================
Responsivo
=================================================*/
/*=================================================
Fuentes
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap");
/*=================================================
Colores
=================================================*/
/*=================================================
Responsivo
=================================================*/
/*=================================================
Fuentes
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap");
/*=================================================
Colores
=================================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #2b2d42;
}

/*=================================================
Nav Movil
=================================================*/
.movil {
  width: 100%;
  padding: 10px;
  font-family: "Fredoka One", cursive;
}
@media only screen and (min-width: 1024px) {
  .movil {
    display: none;
  }
}
.movil a {
  text-decoration: none;
  color: #edf2f4;
}
.movil .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.movil .logo .menu {
  font-size: 25px;
  color: #edf2f4;
  cursor: pointer;
}
.movil .logo a {
  display: flex;
  align-items: center;
}
.movil .logo a img {
  height: 50px;
  margin-right: 15px;
}
.movil .logo a span {
  font-size: 20px;
}
.movil .contenedor-item {
  display: none;
  width: 100%;
}
.movil .contenedor-item a {
  padding: 10px;
  border-bottom: 1px solid #edf2f4;
  display: block;
}
.movil .contenedor-item a:nth-child(4) {
  border: none;
}
.movil .contenedor-item .btn-saga {
  background: #63adf2;
  border-radius: 3px;
  border: none;
  width: 120px;
  text-align: center;
}
.movil .contenedor-item .btn-saga:hover {
  background: #4ba1f0;
}

/*=================================================
Nav PC
=================================================*/
.pc {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .pc {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
  }
  .pc a {
    text-decoration: none;
    color: #edf2f4;
  }
  .pc a:hover {
    color: #e4ff1a;
  }
  .pc .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .pc .logo .menu {
    font-size: 25px;
    color: #edf2f4;
    cursor: pointer;
  }
  .pc .logo a {
    display: flex;
    align-items: center;
  }
  .pc .logo a img {
    height: 50px;
    margin-right: 15px;
  }
  .pc .logo a span {
    font-size: 20px;
  }
  .pc .contenedor-item {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .pc .contenedor-item .btn-saga {
    background: #63adf2;
    border-radius: 3px;
    border: none;
    width: 120px;
    text-align: center;
    padding: 10px;
  }
  .pc .contenedor-item .btn-saga:hover {
    background: #4ba1f0;
  }
}

/*=================================================
Carrusel
=================================================*/
.carrusel .owl-nav {
  margin-top: 0;
}
.carrusel .item {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}
@media only screen and (min-width: 1024px) {
  .carrusel .item {
    height: 500px;
    width: 1200px;
    margin: auto;
  }
}
.carrusel .img1 {
  background-image: url("../img/carrusel/1.jpg");
}
.carrusel .img2 {
  background-image: url("../img/carrusel/2.jpg");
}
.carrusel .img3 {
  background-image: url("../img/carrusel/3.jpg");
}

/*=================================================
Division
=================================================*/
.division {
  margin: auto;
  font-family: "Fredoka One", cursive;
  text-align: center;
  border-bottom: 3px solid #e4ff1a;
  border-radius: 3px;
  width: 80%;
  color: #ffffff;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  .division {
    font-size: 30px;
    width: 700px;
    border-bottom: 4px solid #e4ff1a;
    margin-top: 20px;
  }
}

.txt-suelto {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  color: #edf2f4;
}

/*=================================================
Skill
=================================================*/
.skills {
  background: #383a55;
  padding: 10px;
}
.skills .interno {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .skills .interno {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .skills .interno {
    width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}
.skills .interno .skill1,
.skills .interno .skill2,
.skills .interno .skill3,
.skills .interno .skill4 {
  width: 280px;
  height: 220px;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  color: #edf2f4;
}
@media only screen and (min-width: 1024px) {
  .skills .interno .skill1,
.skills .interno .skill2,
.skills .interno .skill3,
.skills .interno .skill4 {
    margin-bottom: 5px;
  }
}
.skills .interno .skill1 span,
.skills .interno .skill2 span,
.skills .interno .skill3 span,
.skills .interno .skill4 span {
  font-weight: 700;
  font-size: 20px;
}
.skills .interno .skill1 p,
.skills .interno .skill2 p,
.skills .interno .skill3 p,
.skills .interno .skill4 p {
  margin-top: 10px;
}
.skills .interno .skill1 .imagen1,
.skills .interno .skill1 .imagen2,
.skills .interno .skill1 .imagen3,
.skills .interno .skill1 .imagen4,
.skills .interno .skill2 .imagen1,
.skills .interno .skill2 .imagen2,
.skills .interno .skill2 .imagen3,
.skills .interno .skill2 .imagen4,
.skills .interno .skill3 .imagen1,
.skills .interno .skill3 .imagen2,
.skills .interno .skill3 .imagen3,
.skills .interno .skill3 .imagen4,
.skills .interno .skill4 .imagen1,
.skills .interno .skill4 .imagen2,
.skills .interno .skill4 .imagen3,
.skills .interno .skill4 .imagen4 {
  text-align: center;
  padding-top: 20px;
}
.skills .interno .skill1 {
  background: #3e688e;
  background-image: url("../img/responsivo_fondo.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.skills .interno .skill2 {
  background: #4e2e8f;
  background-image: url("../img/linea_fondo.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.skills .interno .skill3 {
  background: #652a5e;
  background-image: url("../img/diseno_fondo.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.skills .interno .skill4 {
  background: #875415;
  background-image: url("../img/dispo_fondo.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

/*# sourceMappingURL=main.css.map */
